.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #e3d6f2;
  width: 100%;
  height: 8rem;
  border-radius: 0 0 1.5rem 1.5rem;
  overflow: hidden;
}

.header div {
  width: 7rem;
  /* height: 1rem; */
}

.header div img {
  width: 100%;
  height: 100%;
}
